In [1]:
from scipy.stats import f_oneway

In [2]:
a = [13, 8, 11, 12, 11]
b = [15, 10, 16, 11, 13, 10]
c = [5, 11, 9, 5]
d = [8, 10, 6, 5, 7]
f_oneway(a, b, c,d)

F_onewayResult(statistic=6.324748040313554, pvalue=0.0049302919205628576)

In [3]:
one_star = [382, 391, 335, 368, 400, 372]
two_star = [560, 343, 512, 329, 391, 367]
three_star = [384, 458, 409, 309, 374, 459]
four_star = [325, 390, 304, 240, 306, 169]
five_star = [360, 298, 272, 368, 320, 326]

In [4]:
f_oneway(one_star, two_star, three_star,four_star,five_star)

F_onewayResult(statistic=4.238644902556343, pvalue=0.009362001936328837)

In [5]:
Brand_A = [19.60, 18.82, 19.00, 18.45, 19.79, 19.03, 17.89, 19.42]
Brand_B = [21.10, 20.00, 20.43, 19.67, 18.99, 19.98, 20.14, 19.78]
Brand_C = [10.31, 10.02, 9.41, 9.89, 10.05, 10.52, 11.02, 10.42]
Brand_D = [17.02, 16.71, 17.78, 18.65, 15.98, 17.63, 17.00, 16.78, 16.92, 17.14]
f_oneway(Brand_A, Brand_B, Brand_C,Brand_D)

F_onewayResult(statistic=404.7865500650496, pvalue=2.392149441499325e-24)

In [6]:
cars = [19.9, 15.3, 2.2, 6.8, 34.2, 8.3, 12.0, 7.0, 9.5, 1.1]
buses = [1.8, 24.6, 7.2, 37.0, 7.2, 21.2, 6.5, 23.6]
trucks = [13.3, 23.0, 25.4, 15.3, 57.1, 14.5, 26.0]
f_oneway(cars, buses, trucks)

F_onewayResult(statistic=2.4686944536875277, pvalue=0.10782985675757563)

In [7]:
college_students = [71, 62, 63, 59, 67, 68, 63, 62, 66, 65, 61, 60]
athletes = [67, 68, 72, 66, 65, 69, 71, 70, 65, 64, 68]
army = [68, 67, 66, 68, 69, 70, 71, 69, 66, 67]
f_oneway(college_students, athletes, army)

F_onewayResult(statistic=7.899836075209478, pvalue=0.0017534092082519943)