In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("loan.csv")
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
data.shape

(614, 13)

In [4]:
data.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
data.shape

(614, 13)

In [6]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [7]:
## Assignment 1
ass1_data = data[["Gender", "LoanAmount", "Loan_Amount_Term", "Married"]]
ass1_data["loan_amount_per_year"] = ass1_data['LoanAmount']/(ass1_data['Loan_Amount_Term']/12)
ass1_data.head()

/tmp/ipykernel_9505/3952451102.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass1_data["loan_amount_per_year"] = ass1_data['LoanAmount']/(ass1_data['Loan_Amount_Term']/12)

  Gender  LoanAmount  Loan_Amount_Term Married  loan_amount_per_year
0   Male         NaN             360.0      No                   NaN
1   Male       128.0             360.0     Yes              4.266667
2   Male        66.0             360.0     Yes              2.200000
3   Male       120.0             360.0     Yes              4.000000
4   Male       141.0             360.0      No              4.700000

In [8]:
grp1 = ass1_data.loc[(ass1_data["Gender"]=="Female")]
grp2 = ass1_data.loc[(ass1_data["Gender"]=="Male") & (ass1_data["Married"]=="No")]
grp1.dropna(inplace=True)
grp2.dropna(inplace=True)
grp1.shape, grp2.shape

/tmp/ipykernel_9505/287345632.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grp1.dropna(inplace=True)
/tmp/ipykernel_9505/287345632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grp2.dropna(inplace=True)

((106, 5), (123, 5))

In [9]:
grp2

    Gender  LoanAmount  Loan_Amount_Term Married  loan_amount_per_year
4     Male       141.0             360.0      No              4.700000
13    Male       114.0             360.0      No              3.800000
15    Male       125.0             360.0      No              4.166667
16    Male       100.0             240.0      No              5.000000
28    Male        35.0             360.0      No              1.166667
..     ...         ...               ...     ...                   ...
579   Male       161.0             360.0      No              5.366667
581   Male        90.0             360.0      No              3.000000
595   Male       110.0             360.0      No              3.666667
597   Male        88.0             360.0      No              2.933333
603   Male       172.0             360.0      No              5.733333

[123 rows x 5 columns]

In [10]:
grp1["loan_amount_per_year"].var()

32.4695759508835

In [11]:
grp2["loan_amount_per_year"].var()

16.36182359500644

In [12]:
from scipy.stats import levene # Test variance

In [13]:
# H0: Variances are equal
# Ha: Variances are not equal
levene_stat, p_value = levene(grp1["loan_amount_per_year"], grp2["loan_amount_per_year"])
if p_value < 0.05:
    print(levene_stat, p_value,"Variances are not equal")
else:
    print(levene_stat, p_value,"Variances are equal")

0.02791644898384702 0.8674541435146872 Variances are equal

In [14]:
from scipy.stats import ttest_1samp, ttest_ind

In [15]:
ttest_ind(grp1["loan_amount_per_year"],grp2["loan_amount_per_year"], alternative="two-sided")

Ttest_indResult(statistic=-0.22521696710483208, pvalue=0.8220131093962644)

In [16]:
# Assignment 2
ass2_data = data[["Credit_History","Loan_Status","Married","LoanAmount"]]
ass2_data.shape

(614, 4)

In [17]:

group1 = ass2_data.loc[(ass2_data["Credit_History"]==1) & (ass2_data["Loan_Status"] == "N") & (ass2_data["Married"]=="Yes")]
group2 = ass2_data.loc[(ass2_data["Credit_History"]==1) & (ass2_data["Loan_Status"] == "N") & (ass2_data["Married"]=="No")]
group1.dropna(inplace=True)
group2.dropna(inplace=True)
group1.shape, group2.shape

/tmp/ipykernel_9505/1425719886.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group1.dropna(inplace=True)
/tmp/ipykernel_9505/1425719886.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group2.dropna(inplace=True)

((48, 4), (43, 4))

In [18]:
# H0: Variances are equal
# Ha: Variances are not equal
levene_stat, p_value = levene(group1["LoanAmount"], group2["LoanAmount"])
if p_value < 0.05:
    print(levene_stat, p_value,"Variances are not equal")
else:
    print(levene_stat, p_value,"Variances are equal")

0.08026097081368709 0.777602001365163 Variances are equal

In [19]:
from scipy.stats import f_oneway, kruskal # Numeric Vs categorical for many categories
kruskal(group1["LoanAmount"], group2["LoanAmount"])

KruskalResult(statistic=5.0625261180565975, pvalue=0.02444857687829343)

In [20]:
# Assigment 3
data.shape

(614, 13)

In [21]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [22]:
ass3_data = data.loc[data["Loan_Status"]=="N"][["ApplicantIncome","Credit_History",]]
ass3_data.dropna(inplace=True)
ass3_data.head()

    ApplicantIncome  Credit_History
1              4583             1.0
7              3036             0.0
9             12841             1.0
13             1853             1.0
17             3510             0.0

In [23]:
grp1 = ass3_data.loc[ass3_data["Credit_History"]==0]["ApplicantIncome"]
grp2 = ass3_data.loc[ass3_data["Credit_History"]==1]["ApplicantIncome"]

In [24]:
kruskal(grp1, grp2)

KruskalResult(statistic=2.049603392395956, pvalue=0.15224584555807225)

In [25]:
# H0: Variances are equal
# Ha: Variances are not equal
levene_stat, p_value = levene(grp1,grp2,center='trimmed')
if p_value < 0.05:
    print(levene_stat, p_value,"Variances are not equal")
else:
    print(levene_stat, p_value,"Variances are equal")

4.939566565459423 0.02764197697190895 Variances are not equal

In [39]:
# Assignment 4
data.shape

(614, 13)

In [54]:
ass4_data = data.loc[(data["Loan_Status"]=="N")]
ass4_data.dropna(inplace=True)
ass4_data.head()

/tmp/ipykernel_9505/688783197.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass4_data.dropna(inplace=True)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N

In [55]:
ass4_data.loc[ass4_data["Credit_History"]==1]["Gender"].value_counts()

Gender
Male      66
Female    19
Name: count, dtype: int64

In [56]:
ass4_data.loc[ass4_data["Credit_History"]==0]["Gender"].value_counts()

Gender
Male      50
Female    13
Name: count, dtype: int64

In [57]:
from scipy.stats import chi2_contingency # when expected value has to be computed

In [58]:
chi_stat, p_value, df, exp_values = chi2_contingency([[66,19],[50,13]])
chi_stat, p_value, df, exp_values

(0.002412344248044048,
 0.9608271544968046,
 1,
 array([[66.62162162, 18.37837838],
        [49.37837838, 13.62162162]]))

In [59]:
# Assignment 5

chi_stat, p_value, df, exp_values = chi2_contingency([[272,53],[66,19]])
chi_stat, p_value, df, exp_values

(1.3089034809797075,
 0.25259328208262877,
 1,
 array([[267.92682927,  57.07317073],
        [ 70.07317073,  14.92682927]]))